@media only screen and (max-width: 1199px){
  .DashCard-Container{
      width:100%;
      flex-flow: column wrap;
      display:flex;
      align-items: center;
  }
}

.stylish-btn {
  padding: 10px 12px;
  border: 2px solid #BFC0C0;
  color: #818181;
  font-size: 1em;
  font-family: 'Fraunces', sans-serif;
  letter-spacing: 1.5px;
  background-color: #111;
  margin-bottom: 2em;
  border-radius: 6px;
  justify-content: center;
}

.btn-container {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  width: 25%;
  justify-content: center;

}

.DashCard-Container > h2 {
  margin: 0;
  margin-bottom: .5em;
}

@media screen and (min-width: 630px) {
  .score {
    position: absolute;
    right: 0;
    padding-right: 1.6em;
  }

  .language_name {
    position: absolute;
    right: 0;
    top: 45px;
    padding-right: 1.6em;
  }

  .current-user {
    padding-right: 2em;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
  }
}

.shadowbox {
  box-shadow: 10px 10px 10px #000;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  background-color: #111;
  margin: 10px;
}

@media screen and (max-width: 630px) {
  .score, .language_name, .current-user {
    font-size: 1rem;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 4em;
}